<style type="text/css">
  table.tableizer-table {
    font-size: 9px;
    /*border: 1px solid #f00; */
    font-family: verdana;
    background-color:Gray;
  } 
  .tableizer-table td {
    padding: 2px;
    margin: 2px;
    border: 1px solid #CCC;
    background-color: white;
  }
  
  .tableizer-table th {
    background-color: black
    color:white;
    font-weight: bold;
  }

th{text-align: center;
font-weight:bold;
background-color:black;
color:white;}*/

td.tdBlack {
background-color: green;
}

td {text-align: center;
background-color: white;
font-weight:bold;
font-color:red;
text-align:center;}

td.firstCol {
    color:black;
    background-color: lightgray;
    font-weight: bold;
    text-align: left;}

td.tableTitle {
  color:black;
  background-color: lightgray;
  font-weight: bold;
  text-align: left;}
}

#divleft{
      width: 60%;
      float: left;
      border-color:black;
      /*background-color:Gray;*/
        }
#divright{
      adisplay: block;
      amargin-left: 6px;
        }       

  div {
margin: 10px;
margin-top:-10px;
height:80%;}
  


</style>